@import "../../assets/scss/configs/colors";

.mortgage-page {
  display: flex;
  padding: 3rem;

  .house-owner-icon-container {
    display: flex;
    max-width: 40%;

    img {
      max-width: 100%;
    }
  }

  .mortgage-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    .mortgage-form-wrapper {
      max-width: 100%;

      .header {
        color: var(--primary);
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        line-height: 130%;
        font-weight: 600;
        font-family: "Averta", Helvetica, sans-serif;
      }

      .mortgage-form-text {
        margin-bottom: 1rem; //16px;
        color: var(--grey-1);
        font-family: "Averta", Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 130%;
      }

      ::ng-deep {
        .mat-grid-tile {
          .mat-figure {
            display: block !important;
            padding: 2rem;
          }
        }
      }

      .mat-card {
        padding: 0;
        border-radius: 4px;
      }
      .mat-card-header {
        background-color: var(--primary);
        color: var(--white);
        border-radius: 4px 4px 0px 0px;
        padding-top: 8px;
      }
      .mat-card-content {
        padding: 1rem;
      }

      .form-container {
        .form {
          display: flex;
          flex-direction: column;

          .form-element {
            &.button-element {
              .mts-button {
                &.enable-button {
                  background: var(--primary);
                  color: var(--white);
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .house-owner-icon-container {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      img {
        max-width: 90%;
      }
    }

    .mortgage-form-container {
      width: 70%;

      .mortgage-form-wrapper {
        width: 85%;
      }
    }
  }
}
