<div class="mortgage-page">
  <section class="mortgage-form-container">
    <div class="mortgage-form-wrapper">
      <h1 class="header">Mortgage Payment Calculator</h1>
      <p class="mortgage-form-text">
        This calculator determines your mortgage payment and provides you with a
        mortgage payment schedule. <br /><br />This calculator also shows how
        much money and how many years you can save by making prepayments.
      </p>
      <mat-grid-list cols="2" rowHeight="1:2">
        <!-- Payment plan Card Tile -->
        <mat-grid-tile
          ><mat-card class="example-card">
            <mat-card-header class="mat-card-header">
              <mat-card-title>Payment Plan</mat-card-title>
            </mat-card-header>
            <mat-card-content></mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <!-- Prepayment plan Card Tile -->
        <mat-grid-tile
          ><mat-card class="example-card">
            <mat-card-header class="mat-card-header">
              <mat-card-title>Prepayment Plan</mat-card-title>
            </mat-card-header>
            <mat-card-content></mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <section class="house-owner-icon-container">
    <section class="house-owner-icon-container">
      <img
        src="../../assets/images/buy_house.svg"
        alt="Mortgage Calculation Icon"
        aria-hidden="true"
      />
    </section>
  </section>
</div>
